h1 {margin: 0;
font-family: "Raleway", sans-serif;
font-weight: 400;
color:#0D2c40;
letter-spacing: normal;
font-size:45px;
}

#a1 {font-family: "Raleway", sans-serif;
font-weight: 600;
color:#f15b31;
letter-spacing: normal;
font-size:18px;
margin: 20px;

}
h2{font-family: "Raleway", sans-serif;
font-weight:600;
color:#0d2c40;
letter-spacing: normal;
font-size:20px;


}
p {
font-family: "Droid Serif", serif;
font-size:18px;
line-height: 20px;
}
body {margin: 0;
text-align: center;
}
header{
background-color:#F15B31;
padding: 30px  20px 30px 20px;

}
nav{
background-color:#00A6B3;
color: #FFFFFF;
padding-top: 20px;
padding-bottom: 20px;

}
main{
width: 850px;
margin-left: auto;
margin-right: auto;
margin-top: 35px;
margin-bottom: 35px;


}
img{

  margin: 40px  8px 40px 8px;
}
 footer{

  text-transform: uppercase;
  background-color: #0d2c40;
    font-family: "Raleway";
    font-size: 14px;
    letter-spacing: 0.08em;
    font-weight: 500;
    padding-left: 20px;
    padding-right: 20px;
background-color: #0d2c40;
 }


 .clearfix:after{
 visibility: hidden;
 display: block;
 content: " ";
 clear: both;
 height: 0;
 font-size: 0;

}
 .ms{

 float: right;

 }


 .cp {

 float: left;

 }

.name{

  color: #F15B31;
  font-weight: 700;

}
